:root {
  --color-primary: #845ec2;
  --color-blue: #4a58cd;
}

/* CSS Resets */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root {
  isolation: isolate;
}

/* Default font size for REM */
h1 {
  font-size: 3.6rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.08rem;
}
h4,
p {
  font-size: 1.7rem;
  line-height: 1.5;
}
ul,
ol {
  font-size: 1.8rem;
}

.wrapper {
  width: 95%;
  margin-inline: auto;
  max-width: 1200px;
}
a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0.8rem 2.3rem;
}
